body {
  background-color: royalblue;
  /* background-image: url(./android.png); */
}
/* .button {
  position: relative;
  padding: 20px;
}
.button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 70px;
  height: 60px;
  background-image: url(../src/naver.png);
  background-size : 443px 424px;
  background-position: -0px -10px;
} */